footer {
  text-align: center;
  width: 100%;
  z-index: 1000;
  padding-bottom: 20px;
}

.home-footer {
  background-color: transparent;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
}

.normal-footer {
  background-color: #1a1a11;
  color: white;
  position: relative; 
}