header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav {
    display: flex;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ff6347;
  }